.App {
  text-align: center;
}

.carousel{
  margin: auto;
  width: auto;
  height: auto;
}

.footer{
  margin-top: 20px;
  background-color: rgb(45, 45, 63);
  font-family: monospace;
  font-size: 20px;
}




