.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  color: white;
}

.App-link {
  color: #466a74;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botonesNav li{
  float: middle;
  text-align: center;
  width: 17em;
  
}

.cards{
  margin: auto;
  margin-top: 50px;
  width: 500px;
  border: 1px solid;
  border-radius: 25px;
}

.carousel{
  margin: auto;
  width: 100%;
  height: 100vh;
}

.footer{
  margin-top: 20px;
}




