*{
  margin: 0;
  padding: 50px;
 background-color: #CED3A7;
}

.App{
  width: 60%;
  margin: auto;
  justify-content: center;
 
}
.App p{
  border: 5px solid;
  font-size: 25px;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;

}